html *
{
   font-size: 12px !important;
   color: #000 !important;
   font-family: Arial, Helvetica, sans-serif !important;
   vertical-align: top !important;
}

table {
    border-collapse: collapse;
}